html {
    /* background-color: #009682; */
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.loading {
    display: flex;
    justify-content: center;
    font-size: 2em;
    align-self: center;
    align-items: center;
    min-height: 30rem;
}

.repositories {
    display: flex;
    flex-flow: row wrap;
}

.repository {
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    box-sizing: border-box;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    padding: 1em;
    height: 15em;
}

.repository .header {
    display: flex;
    flex:none;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: #009682;
}

.repository .header:hover {
    border-bottom-style: solid;
}

.repository .header .key-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.repository .header .key-info > .user {
}

.repository .header .key-info > .name {
    font-size: 1.3em;
    font-weight: bolder;
}

.repository .description {
    flex: auto;
    flex-grow: 1;
    max-height: 5em;
    padding-top: 0.5em;
    overflow: hidden;
}


.repository .gravatar {
    margin: 0 0.5rem 0.5rem 0;
    border-radius: 10%;
    display: block;
    max-height: 4em;
    max-width: 4em;
}

.repository > .top {
    flex-grow: 1;
}

.repository > .bottom {
}


.repository .stats {
    display: flex;
    justify-content: space-around;
    min-height: 1em;
    align-items: center;
}

.repository .stats * {
    display: table-cell;
    vertical-align: text-bottom;
    text-align: center;
}

.repository .stats > .stars {
    fill: #ff9800;
}

.repository .stats > .issues {
    fill: #f44336;
}

.repository .stats > .forks {
    fill: #2196f3;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination .button {
    user-select: none;
    color: #009682;
    cursor: pointer;
    text-align: center;
    width: 1em;
    height: 1em;
    margin: 0.3em;
    font-size: 1.8em;
}

.pagination .button.active {
    border-color: #009682;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

